      <div class="card-meta">
        <div class="file-size">
            <i class="fas fa-file-pdf"></i>
            <span>PDF</span>
        </div>
        <div class="file-size">
            <i class="fas fa-hdd"></i>
            <span>233K</span>
        </div>
        <div class="meta-item">
            <i class="fas fa-language"></i>
            <span>French</span>
        </div>
        <div>
            <i class="fas fa-calendar"></i>
            <time datetime="2026-02-09">Updated 2026-02-09</time>
        </div>
      </div>
      <div style="display: flex; gap: 10px;">
          <a href="cv/cv_FR.pdf" class="btn" style="flex: 1"; download>
              <i class="fas fa-download"></i>
              Download
          </a>
          <a href="cv/cv_FR.pdf" class="btn btn-secondary" style="flex: 1;">
              <i class="fas fa-eye"></i>
              Preview 
          </a>
      </div>
